.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: none;

    p {
        font-size: 1.2rem;

        &:first-child {
            font-weight: bold;
        }
        
        &:last-child {
            font-weight: 400;
            color: #a8a8a8;
            margin-top: 10px;
        }
    }
}